# 工作流自动化部署

name: CI

on:
  push:
    branches:
      - main
# 任务
jobs:
  deploy:
    runs-on: ubuntu-latest #运行在虚拟机环境ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 12

      - run: npm i yarn -g

      - name: Build
        run: yarn docs:build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: /dist
